<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<script src="/static/angular/angular.js"></script>
	<script src="/static/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/static/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="/static/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/static/angular-resource/angular-resource.js"></script>
	<script src="/static/js/app.js"></script>
</head>
<body ng-app="myApp">
	<ul class="navbar-nav nav">
		<li><a ui-sref="index" ui-sref-opts="{reload: true, inherit: false}">POIs</a></li>
		<li><a ui-sref="tags">Tags</a></li>
	</ul>
	<div ui-view></div>
</body>
</html>